<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.evancoleman.myvibe</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>set</key>
			<string>toggleEnabled:specifier:</string>
			<key>PostNotification</key>
			<string>net.evancoleman.myvibe.prefs</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Behavior</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enables Do Not Disturb when your phone is placed upside down on a table.</string>
			<key>id</key>
			<string>silencer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>net.evancoleman.myvibe</string>
			<key>key</key>
			<string>upsidedownsilent</string>
			<key>label</key>
			<string>Upside Down Silencer</string>
			<key>PostNotification</key>
			<string>net.evancoleman.myvibe.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Disables vibrate when your phone is placed on a table.</string>
			<key>id</key>
			<string>iphone-only</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.evancoleman.myvibe</string>
			<key>key</key>
			<string>tablevibrate</string>
			<key>label</key>
			<string>Table Vibrate</string>
			<key>PostNotification</key>
			<string>net.evancoleman.myvibe.prefs</string>
			<key>id</key>
			<string>iphone-only</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>net.evancoleman.myvibe</string>
			<key>key</key>
			<string>silentdisable</string>
			<key>label</key>
			<string>Disable While Muted</string>
			<key>PostNotification</key>
			<string>net.evancoleman.myvibe.prefs</string>
			<key>id</key>
			<string>iphone-only</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Higher refresh rates may decrease battery life.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Sensitivity</string>
			<key>default</key>
			<real>0.95</real>
			<key>validTitles</key>
			<array>
				<string>Lowest</string>
				<string>Lower</string>
				<string>Low</string>
				<string>Medium</string>
				<string>High</string>
				<string>Higher</string>
				<string>Highest</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0.89</real>
				<real>0.91</real>
				<real>0.93</real>
				<real>0.95</real>
				<real>0.97</real>
				<real>0.99</real>
				<real>1.00</real>
			</array>
			<key>defaults</key>
			<string>net.evancoleman.myvibe</string>
			<key>key</key>
			<string>sensitivity</string>
			<key>PostNotification</key>
			<string>net.evancoleman.myvibe.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Refresh Rate</string>
			<key>default</key>
			<real>2</real>
			<key>validTitles</key>
			<array>
				<string>4 Hz</string>
				<string>2 Hz</string>
				<string>1 Hz</string>
				<string>0.5 Hz (Default)</string>
				<string>0.3 Hz Hz</string>
				<string>0.25 Hz</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0.25</real>
				<real>0.5</real>
				<real>1</real>
				<real>2</real>
				<real>3</real>
				<real>4</real>
			</array>
			<key>defaults</key>
			<string>net.evancoleman.myvibe</string>
			<key>key</key>
			<string>refresh</string>
			<key>PostNotification</key>
			<string>net.evancoleman.myvibe.prefs</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Display</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Shows vibration indicator icon in status bar.</string>
			<key>id</key>
			<string>iphone-only</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>net.evancoleman.myvibe</string>
			<key>key</key>
			<string>showicon</string>
			<key>label</key>
			<string>Status Bar Icon</string>
			<key>PostNotification</key>
			<string>net.evancoleman.myvibe.prefs</string>
			<key>id</key>
			<string>iphone-only</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>follow:</string>
			<key>label</key>
			<string>Follow Me on Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>footerText</key>
			<string>Twitter: @edc1591, Website: edc.me&#xA;MyVibe © 2014 Evan Coleman.</string>
		</dict>
	</array>
	<key>title</key>
	<string> MyVibe </string>
</dict>
</plist>
